/* 1. Download Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* 2. Initialize Tailwind */
@import "tailwindcss";

/* 1. Import your custom split files */
@import './typography.css';
@import './variables.css';
@import './animations.css';
@import './utils.css';

/* 3. Any other quick global overrides can go here */
@layer utilities {

  .heading-1 {
    @apply text-[120px] font-bold leading-[120px];
  }
  
}


@theme {
  /* Define Custom Colors here to generate classes like 'bg-brand' or 'text-brand' */
  --color-primary-bg: #FFFFFF;
  /* White */
  --color-secondary-bg: #F8F8FA;
  /* Light Gray */
  --color-primary-text: #212529;
  /* Charcoal */
  --color-secondary-text: #6C757D;
  /* Medium Gray */
  --color-cta-cyan: #02D5E0;
  /* Cyan CTA */

  --color-white: #FFFFFF;
    --color-light-gray: #F8F8FA;
    --color-charcoal: #212529;
    --color-medium-gray: #6C757D;
    --color-cyan: #02D5E0;
    --color-light-cyan: #45e9f0;
    --color-dark-cyan: #00b8c2;

    /* Border, hover, disabled */
    --color-border: #E1E1E1;
    --color-hover: #1A1A1A;
    --color-disabled: #C5C5C5;

  /* Define Custom Fonts here to link with font-sans */
  --font-sans: "Inter", sans-serif;
  --font-display: "Poppins", sans-serif;

  /* Define Custom Breakpoints if needed */
  --breakpoint-3xl: 1920px;
}

@layer base {
  .dark {
    --color-white: #181818;
    --color-light-gray: #202020;
    --color-charcoal: #f5f5f5;
    --color-medium-gray: #c9c9c9;
    --color-border: #333;
  }
}