
/* 2. Apply Defaults to HTML Tags */
@layer base {
  html {
    /* This uses the variable we defined in index.css @theme */
    /* font-family: var(--font-sans); */
    /* Smooth scrolling for anchor links */
    /* scroll-behavior: smooth;  */
    font-family: "Poppins", sans-serif;
    color: var(--primary-text);
    background-color: var(--secondary-bg);
  }

  h1 {
    font-size: 120px;
    font-weight: 700;
    line-height: 120px;
  }

  h2 {
    font-size: 96px;
    font-weight: 400;
    line-height: 48px;
  }

  h3 {
    font-size: 26px;
    font-weight: 400;
    line-height: 30px;
  }

  h4 {
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
  }

  p {
    font-size: 16px;
    line-height: 26px;
    color: var(--color-medium-gray);
  }
}

@layer base {

  @media (max-width: 768px) {
    h1 { font-size: 48px; line-height: 54px; }
    h2 { font-size: 40px; line-height: 46px; }
    h3 { font-size: 22px; line-height: 28px; }
  }
}
